.navbar{
    display: flex;
    justify-content: space-between;
    background-color: rgb(64, 61, 61);
    border-bottom:6px solid rgb(255, 72, 0);
}
.right_side li{
    text-align: left;
    margin: 0px;
    font-size: 35px;
    font-weight: bold;
}
.navbar ul{
    list-style-type: none;
    background-color: rgb(64, 61, 61);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: right;
}
.navbar a:hover{
    color:  rgb(255, 72, 0);


}
.navbar li{
    float: left;
}

.container{
    color: white;
    font-size: 22px;
    float: right;
    width: 350px;
    background-color: rgb(48, 48, 48); 
    margin-right: 35px;
    margin-top: 40px;
}

.word_color{
    color: rgb(255, 72, 0);
}
body{
    background-image: url("9286605.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
}


